.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar-brand {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-links {
    list-style: none;
    float: right;
    display: flex;
    align-items: center;
}

.navbar-link {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    gap: 10px;
    position: relative;
}
.navbar-title {
    text-align: center;
}