.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.project-card {
    border: 8px solid #646cff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    text-align: center;
    background-color: #222;
    max-width: 800px;
    max-height: 1000px;
    overflow: hidden;
    align-items: center;
}

.project-image {
    width: 80%;
    height: auto;
    max-height: 600px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
    
}